absl-py==0.9.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
audioread==2.1.8
backcall==0.1.0
bleach==3.1.5
blinker==1.4
bokeh==2.1.1
boto3==1.14.62
botocore==1.17.62
cachetools==4.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
closeio==1.3
cloudpickle==1.5.0
colorcet==2.0.2
configparser==5.0.0
cryptography==2.8
cycler==0.10.0
cypari==2.4.0
dask==2.20.0
datashader==0.11.0
datashape==0.5.2
decorator==4.4.2
defusedxml==0.6.0
distributed==2.20.0
distro==1.4.0
docker-pycreds==0.4.0
docutils==0.15.2
entrypoints==0.3
fastparquet==0.4.1
ffmpeg==1.4
ffprobe==0.5
flask-cors==3.0.8
flask-httpauth==4.1.0
flask==1.1.2
fsspec==0.7.4
future==0.18.2
fxrays==1.3.3
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.2
google-api-core==1.20.1
google-api-python-client==1.9.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-auth==1.15.0
google-cloud-speech==1.3.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gql==0.2.0
graphql-core==1.1
grpcio==1.29.0
h5py==2.10.0
heapdict==1.0.1
holoviews==1.13.3
httplib2==0.14.0
idna==2.8
imbalanced-learn==0.7.0
imblearn==0.0
ipykernel==5.3.0
ipython-genutils==0.2.0
ipython==7.14.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
jupyterlab-server==1.1.4
jupyterlab==2.1.2
keras-preprocessing==1.1.2
keras==2.4.3
keyring==18.0.1
kiwisolver==1.2.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libevdev==0.5
librosa==0.7.2
llvmlite==0.31.0
locket==0.2.0
macaroonbakery==1.3.1
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mock==4.0.2
msgpack==1.0.0
multipledispatch==0.6.0
nbclient==0.5.0
nbconvert==5.6.1
nbformat==5.0.6
nest-asyncio==1.4.0
netifaces==0.10.4
networkx==2.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numpy==1.18.4
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
panel==0.9.7
param==1.9.3
parso==0.7.0
partd==1.1.0
pathtools==0.1.2
pbr==5.5.0
pexpect==4.6.0
pickleshare==0.7.5
pillow-pil==0.1.dev0
pillow==7.0.0
pillowimage==1.1.6
pip==19.2.3
playsound==1.2.2
plink==2.3.1
pooch==1.1.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.0
psutil==5.7.0
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyaudio==0.2.11
pybundle==1.0.6
pycparser==2.20
pyct==0.4.6
pycups==1.9.73
pydrive==1.3.1
pydub==0.24.1
pygments==2.6.1
pyjwt==1.7.1
pymacaroons==0.13.0
pynacl==1.3.0
pyopenssl==19.1.0
pyparsing==2.4.7
pypng==0.0.20
pyrfc3339==1.1
pyrsistent==0.16.0
pysound==0.1
python-dateutil==2.7.3
python-snappy==0.5.4
pytz==2019.3
pyudev==0.21.0
pyviz-comms==0.7.6
pyxdg==0.26
pyyaml==5.3.1
pyzmq==19.0.1
reportlab==3.5.34
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requests==2.22.0
resampy==0.2.2
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
secretstorage==2.3.1
send2trash==1.5.0
sentry-sdk==0.14.4
setuptools==41.2.0
shortuuid==1.0.1
simplejson==3.16.0
six==1.14.0
sklearn==0.0
smmap==3.0.4
snappy-manifolds==1.1.2
snapy==1.0.2
sortedcontainers==2.2.2
soundfile==0.10.3.post1
speechpy==2.4
speechrecognition==3.8.1
spherogram==1.8.3
subprocess32==3.5.4
tblib==1.6.0
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.1
tensorflow-estimator==2.2.0
tensorflow==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
testresources==2.0.1
threadpoolctl==2.0.0
thrift==0.13.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
typing-extensions==3.7.4.2
umap-learn==0.4.6
umap==0.1.1
unidiff==0.5.5
uritemplate==3.0.1
urllib3==1.25.8
wadllib==1.3.3
wandb==0.8.36
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.15.1
youtube-dl==2020.7.28
zict==2.0.0